@use 'sass:map';
@import '../../../../theme-colors';

.snapshot-header {
  display: flex;
  
  background-color: $base-light;
  color: $base-dark;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  div {
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }
}

.container {
  display: flex;
  gap: 2rem;
  color: $base-ink;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
}

.values {
  display: flex;
  flex-direction: column;
}
.details-row {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #dbd9dd;
  line-height: 3.24rem;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
}

.date-input {
  visibility: hidden;
  width: 0.1px;
}

.label {
  background-color: $base-light;
  width: 50%;
  text-align: end;
  font-weight: 500;
  padding-right: 0.5rem;
  span {
    font-weight: 500;
  }
}

.value {
  width: 100%;
  span {
    font-weight: 200;
  }
}

.bene-details {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.sub-title {
  color: #000;
  /* H3 */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 2rem;
  margin-bottom: 0;
}