@use 'sass:map';
@import '../../../../theme-colors';

.snapshot-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: $base-light;
  color: var(--Base-base-dark, $base-dark);
  font-family: sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  display: flex;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  div {
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }
}

.container {
  display: flex;
  gap: 2rem;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
}

.values {
  display: flex;
  flex-direction: column;
}
.details-row {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #dbd9dd;
  line-height: 3.24rem;
}

.label {
  background-color: $base-light;
  width: 50%;
  text-align: end;
  padding-right: 0.3rem;
  span {
    font-weight: 500;
  }
}

.value {
  width: 100%;
  span {
    font-weight: 200;
  }
}

.bene-details {
  display: flex;
  width: 100%;
  flex-direction: column;
}
