@import '../../../../theme-colors';

.marx-toolbar {
  background-color: $primary-red;
  height: 3.125rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 5rem;
}

.marx-logo {
  display: flex;
  gap: 0.7rem;
  h1 {
    font-weight: 500;
    font-size: 1.2rem;
  }
}

.subtitle {
  display: flex;
  flex-direction: column;
  gap: 0;
  span {
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
    line-height: 0.8rem;
  }
}

mat-tab-group {
  color: white;
}

.search-container {
  margin-top: 2rem;
  margin-inline: 2rem;
}
