@use 'sass:map';
@import '../../../../theme-colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-bottom: 0;
  color: #000;
  /* H2 */
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}



.right {
  display: flex;
  gap: 0.5rem;
}

.main-content {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 2rem;
}
