@use 'sass:map';
@import '../../../../theme-colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-bottom: 0;
}



.right {
  display: flex;
  gap: 0.5rem;
}

.main-content {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 2rem;
}
