@use 'sass:map';
@import '../../../../theme-colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-bottom: 0;
  color: #000;
  /* H2 */
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mat-mdc-unelevated-button,
.mat-mdc-button-base {
  &:not(:disabled) {
    &:not(.mdc-icon-button) {
      background-color: map.get(map.get($_palettes, primary), 20) !important;
    }
  }
  border-radius: 5px !important;
}


.right {
  display: flex;
  gap: 0.5rem;
}

.main-content {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 2rem;
}
