@use '@angular/material' as mat;
@import '../../theme-colors';

a {
  color: white;
}

html {
  // color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: $primary-palette,
        tertiary: $tertiary-palette,
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Roboto,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );

  @include mat.toolbar-overrides(
    (
      // container-background-color: $primary-blue,
      container-text-color: white
    )
  );
  @include mat.tabs-overrides(
    (
      active-focus-label-text-color: white,
      inactive-focus-label-text-color: white,
      inactive-label-text-color: white,
      active-focus-indicator-color: white,
      active-hover-indicator-color: white,
      active-hover-label-text-color: white,
      active-indicator-color: white,
      active-label-text-color: white,
      active-ripple-color: white,
      divider-color: $primary-red,
    )
  );

  @include mat.button-overrides(
    (
      outlined-outline-color: $primary-blue,
    )
  );
}
