@import '../../../theme-colors';

.cms-logo {
  color: #FFF;
  font-family: Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cms-sublog {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.divider {
  height: 80%;
}

.logo-container {
  display: flex;
  gap: 0.5rem;
  height: 90%;
  align-items: center;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-blue;
  height: 51px;
  padding: 8px 16px;

}

.my-apps {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .title {
    color: #FFF;
    font-family: var(--sds-typography-body-font-family);
    font-size: 15px;
    font-style: normal;
    font-weight: var(--sds-typography-body-font-weight-regular);
    line-height: normal;
  }
}

.actions {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  a {
    font-size: 15px;
    text-decoration: underline;
  }
  .logout {
    cursor: pointer;
  }
}

a {
  color: white;
}
