@import '../../../../theme-colors';

.apps-container {
  margin-top: 1rem;
}

.marx-toolbar {
  background-color: $primary-red;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 5rem;
}

.marx-logo {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  h1.marx-sublogo {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.subtitle {
  display: flex;
  flex-direction: column;
  gap: 0;
  span {
    color: #FFF;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 10px */
  }
}

mat-tab-group {
  color: white;
}

.search-container {
  margin-top: 2rem;
  margin-inline: 2rem;
}
