@use '@angular/material' as mat;
@import '../../theme-colors';

/* Apply theme globally */
html {
  @include mat.theme(
    (
      color: (
        primary: $primary-palette,
        tertiary: $tertiary-palette,
        theme-type: light,
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );
}

:host {
  :ng-deep {
    .mdc-tab__text-label {
      color: white !important;
    }
  }
}
